
{% extends "base.html" %}
{% block title %}Home Page{% endblock title %}
{% block content %}


<div class="card bg-light p-5" >

    
  <h3 class="text-dark">Login</h3>
  <form action="{% url 'handlelogin' %}" method="post">
    {% csrf_token %}
   <br>
  
   <label for="email">Email</label>
   <div class="form-group">
    <input type="email" class="form-control" id="email" name="email" required>
   </div>

  
   <label for="pass1">Password</label>
   <div class="form-group">
    <input type="password" class="form-control" id="pass1" name="pass1" required>
   </div>
   <br>
  <button type="submit" class="btn btn-dark">Log In</button>
  <br>
  New User? <a href="{% url 'signup' %}">Signup</a>
  </form>
</div>

{% endblock content %}

